* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/Beerbg.png");
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header {
    margin: 30px 0;
    padding: 0 10px;;
    text-align: left;
}

header p {
    max-width: 550px;
}

form {
    padding: 20px;
}

label {
    padding: 10px 0;
}

input {
    height: 2em;
}

.pure-button {
    margin: 20px 0;
    background-color: #566357;
    color: white;
}

main {
    max-width: 1200px;
    margin: 50px auto;
}

section {
    margin: 10px;
    border-radius: 10px;
    background-color: #FFD98E;
}

h2 {
    padding: 10px 0;
}

h4 {
    padding: 10px 0;
}

article {
    width: 100%;
    padding: 20px;
}


i {
    margin: 0 20px;
    font-size: 24px;
    color: grey;
}



#favs-btn {
    background-color: #FA8125;
}



i:hover {
 color: red;
 cursor: pointer;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

ul {
    list-style-type: none;
}